# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
Backend/.env
Backend/db.sqlite3
Backend/staticfiles/
**/.venv*
**/venv/
**/env/

# Node
Frontend/node_modules/
**/node_modules/
Frontend/dist/
Frontend/dist-ssr/
Frontend/*.local
Frontend/.env

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
